CPU_COMMAND='sensors | grep "Physical id 0:" | cut -c18-19'
GPU_COMMAND='nvidia-smi -q -d TEMPERATURE | awk "/GPU Current Temp/ {print $5}"'
CAPACITY_COMMAND='echo disabled'
STATUS_COMMAND='echo disabled'
